body,html {
	max-width: 100%;
	overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1,h2,h3 {
	font-family: "PT Serif", serif;
	text-align: center;
}


/*NAV*/
.nav {
	color: #fff;
	height: 34px;
	background-color: #262626;
	width: 100%;
	padding: .2em;
	z-index: 10000;
}
.nav a {
	color: inherit;
}
.nav .nav-logo {
	padding-left: .3em;
	vertical-align: middle;
	height: 60%;
	margin-top: 4px;
}
.nav .nav-logo.mobile {
	display: none;
}
.nav .nav-logo.desktop {
	vertical-align: middle;
	display: inline-block;
}
.nav .right-container {
	position: absolute;
	right: 28px;
	top: 4px;
	font-size: 1.4em;
}
.nav .right-container i {
	margin-left: 8px;
}

.link.unknown {
	display: none;
}
.node.unknown {
	display: none;
}

/*TIP*/
.tip {
	background: #fff;
	padding: 5px 10px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
	border: 1px solid #ddd;
	position: absolute;
}
/*.tip:after {
	position: absolute;
	top: 100%;
	margin-left: 45%;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 10px #fff;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}*/
.tip .title {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: .9em;
}
.tip .row {
	font-size: .8em;
	margin-top: 2px;
}

.intro {
	font-family: "PT Serif", serif;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 10px;
}
.intro h1 {
	font-size: 2em;
	margin-bottom: 40px;
}
.intro h2 {
	margin: 0px;
}
.intro h2.byline {
	font-weight: normal;
	font-size: 1.3em;
}
.intro h2.dateline {
	font-weight: normal;
	font-size: 1.1em;
}
.blue-line {
  width: 220px;
  margin: .8em auto;
  border: 2px solid #48a2d7;
}

.copy {
	font-family: "PT Serif", serif;
	max-width: 600px;
	margin: 40px auto;
	font-size: 1.1em;
	line-height: 1.5em;
}
.copy p {
	margin-bottom: 22px;
}

.node rect {
  /*cursor: move;*/
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
}

.link {
  fill: none;
  stroke: #000;
}

.top-label {
	font-weight: bold;
}
.top-label tspan {
	font-weight: normal;
}

.source {
	margin: 10px;
	color: #888;
	font-size: .8em;
}

@media (max-width:768px) {
	/*nav*/
	.nav .nav-logo.mobile {
		display: inline-block;
	}
	.nav .nav-logo.desktop {
		display: none;
	}
	.nav .right-container {
		right: 14px;
	}
}
